form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 16px;
    text-align: center;
}

mat-form-field {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

mat-slide-toggle {
    margin-top: 16px;
    width: 100%;
}

button {
    margin-top: 64px;
    min-width: 300px;
}